[2014-01-19 19:03] jleclanche opened #7 "Stop using defaults.list"
We need to stop using defaults.list - mimeapps.list is the correct file to check for, afaik.

Though now I'm having second thoughts... Can someone check?

[2014-05-04 11:10] ArthurBorsboom opened #11 "XDG_CURRENT_DESKTOP is not set to LXQT"
Hi,

I am not sure if this is a real bug and neither I am sure if this is the library responsible for it, but while debugging another issue on my system regarding xdg-open, I noticed that the variable XDG_CURRENT_DESKTOP is set to Razor (by executing the 'env' command).

Shouldn't this become something like XDG_CURRENT_DESKTOP=Lxqt ?

Cheers,
Arthur.

[2014-05-05 21:11] #11 closed, assigned to nobody

[2014-05-06 20:20] ArthurBorsboom opened #12 "xdg-open does not work correct with magnet links"
I am not sure, if this is the right place to post this issue.
If not, please tell me what the right package is to report this issue.

When opening a magnet link from the browser, a new browser window is opened instead of my default application set by xdg-mime.

After some investigation I noticed that the following command gives me the same result.

`xdg-open magnet:asdfjasdljffdsaadsf`

After some

[2014-05-06 22:11] #12 closed, assigned to nobody

[2014-05-17 19:43] jleclanche opened #16 "Support for new mimeapps.list spec"
Moving lxde/lxde-qt#48 here.

http://standards.freedesktop.org/mime-apps-spec/mime-apps-spec-latest.html

[2014-05-30 19:25] jleclanche opened #18 "XdgDesktopFileCache::getDefaultApp cache wrong behavior"
Moving Razor-qt bug from: https://github.com/Razor-qt/razor-qt/issues/520

Assigning to @pvanek. If this isn't relevant anymore, just close.

[2014-07-09 13:34] Ilya87 opened #22 "Missing icons of WINE apps"
Before latest 2 commits I had icons for WINE apps in "Оther" submenu. Now they are gone.
Example:

/home/ilya/.local/share/applications/wine/Programs/Buka/Герои Меча и Магии III Дыхание Смерти/Герои III Дыхание смерти.desktop

[Desktop Entry]
Name=Герои III Дыхание смерти
Exec=env WINEPREFIX="/home/ilya/.wine" wine C:\\windows\\command\\start.exe /Unix /home/ilya/.wine/dosdevices/c:/users/Public/S

[2014-07-10 23:37] agaida opened #23 "Missing icons in razorqt after Fixes .."
##### Get and set XDG user dirs variables in config file
- https://github.com/lxde/libqtxdg/commit/0d80985769ab05691ab3c8768ca63f7b6c74feb4

https://mediacru.sh/8ucES5_q6k4W.jpg
##### Fixes an FTBFS in the Qt4 build
- https://github.com/lxde/libqtxdg/commit/bd9510f926aeb7bbdb11b428ab2c26e82861be37

https://mediacru.sh/KTUD2kWr1Iky.jpg - icons missed

https://mediacru.sh/0SWYFa7RBuXi.jpg

[2014-07-18 18:26] #23 closed, assigned to nobody

[2014-08-29 20:45] #22 closed, assigned to luis-pereira

[2014-09-05 13:52] czchen opened #26 "Bump soversion for incompatible between 0.5.2 and 0.5.3"
Please help do bump soversion in libqtxdg because 0.5.2 and 0.5.3 are not compatible.

We are currently trying to create debian packages for LXQt. To do so, we need libqtxdg 0.5.3. However,   debian already has libqtxdg 0.5.2 for Razor-qt, and we don't want to break Razor-qt when integrating LXQt. The problem is, libqtxdg 0.5.2 and 0.5.3 have incompatible API changed (0.5.2 API is in [here](https:

[2014-09-06 18:15] #26 closed, assigned to nobody

[2014-09-08 01:10] ghost opened #27 "libqtxdg build fails to link when qtmimetypes is utilized"
tried to switch over to qtmimetypes now libqtxdg fails at linking stage..
maybe a cmake configuration typo somewhere??

[code]

Obviously I have qtcore installed and all other qt programs (including lxqt!) find it without any issue

if i build with USE_QTMIMETYPES=OFF it will link fine

[2014-09-09 21:13] #27 closed, assigned to nobody

[2014-09-20 04:10] mimir1980 opened #29 "libqtxdg-1.0.0 fails with -DUSE_QTMIMETYPES"
I currently have qtmimetypes installed:
libqtxdg success the build with -DUSE_QTMIMETYPES=OFF

[code]

Here is my error log:

[code]

[2014-10-15 10:48] tieugene opened #30 "Undocumented hack"
-DUSE_QTMIMETYPES=OFF is not in README

[2014-10-15 14:50] #30 closed, assigned to nobody

[2014-10-18 00:25] jleclanche opened #31 "Drop libmagic support"
I haven't touched Qt 4 support yet because libmagic should be dropped along with it and that requires a lot of messing about to get all of it. @luis-pereira see if you can get that one when you get some time.

[2014-10-23 16:16] Ilya87 opened #34 "Absence of application icon"
lxqt-config-powermanagement.desktop.in Has line Icon=preferences-system-power-management
and I see icon in source code folder. But lxqt-config-powermanagement.desktop in menu has no icon.

![sc1](https://cloud.githubusercontent.com/assets/1446573/4756735/cf68de92-5acf-11e4-8155-bbdee06c813b.png)
![sc2](https://cloud.githubusercontent.com/assets/1446573/4756736/cf718aa6-5acf-11e4-88fb-a305e35e37a5.

[2014-10-31 19:47] #16 closed, assigned to nobody

[2014-11-21 13:39] paulolieuthier opened #35 "Add a way to find apps that can open a certain file"
Screengrab has a [module](https://github.com/QtDesktop/screengrab/tree/master/src/modules/extedit) for it. More specifically, see it [here](https://github.com/QtDesktop/screengrab/blob/master/src/modules/extedit/extedit.cpp#L102). We should add that to libqtxdg and use it in our screengrab fork.

[2014-11-26 16:35] #35 closed, assigned to luis-pereira

[2014-11-26 21:31] #34 closed, assigned to nobody

[2014-11-26 22:11] luis-pereira opened #37 "Improve .desktop file loading performance"
Reference lxde/lxqt-panel@e68d738cedd4b84fcca9756bbcd8dfbafa628261

[2014-12-01 19:24] #7 closed, assigned to nobody

[2014-12-03 12:12] luis-pereira opened #38 "Use QStandardPaths where possible."
Based on part of https://github.com/lxde/libqtxdg/pull/6

[2014-12-09 15:10] luis-pereira opened #39 "Fix XdgDesktopFile* getFile(const QString&) behaviour"
It inserts.returns non existent files.

[2014-12-09 23:21] #37 closed, assigned to luis-pereira

[2014-12-09 23:21] #39 closed, assigned to luis-pereira

[2014-12-09 23:23] #29 closed, assigned to nobody

[2015-01-01 06:25] jleclanche commented on #38
@luis-pereira Is this possible before 0.9?

[2015-02-08 09:53] jleclanche opened #42 "Tests failing"
[code]

[2015-02-09 14:24] novist opened #43 "Qt4 build failing due to missing Qt5X11Extras"
Build fails because it can not find Qt5X11Extras package even though lxqt is being built with qt4.

	Building: libqtxdg using externally specified options: -DCMAKE_BUILD_TYPE=debug -DCMAKE_INSTALL_PREFIX=/storage/src/lxqt-build

	-- Building with Qt 4.8.6
	-- qtxdg: writing pkgconfig file /storage/src/lxqt/libqtxdg/build/qtxdg.pc
	--
	-- For building tests use -DBUILD_TESTS=Yes option.
	--
	-- Con

[2015-02-09 14:45] jleclanche commented on #43
Uh, that's liblxqt, not libqtxdg. And liblxqt doesn't support qt4 anymore.

[2015-02-09 14:45] #43 closed

[2015-02-25 17:57] #42 closed

[2015-02-26 20:47] doktor5000 commented on #42
Thanks for fixing :+1:

[2015-03-04 20:05] jleclanche commented on #38
@luis-pereira status on this? Are you still on it or can someone else take it?

[2015-03-04 20:06] paulolieuthier commented on #38
@luis-pereira describe what this is about and someone may be work on it.

[2015-03-04 20:20] luis-pereira opened #48 "Deprecate XdgIcon::fromTheme(QStringList &iconNames,.....)"
and every method that accepts more than one icon (excluding fallback).
Rationale: https://github.com/lxde/lxqt-panel/commit/f0329368f99b3ca560572c6c19610759db54298c

[2015-03-04 20:24] jleclanche commented on #48
Well we don't have to deprecate it I guess, we can just stop using it in lxqt.

[2015-03-04 20:42] luis-pereira commented on #48
Sure, but then we have to enforce it in some way. More than that, I thinking in writing an icon cache. That would be in an 2.x release, qt5 only and no "old" stuff.

[2015-03-04 21:21] paulolieuthier commented on #48
@luis-pereira looking forward to seeing that :smile:.

[2015-03-05 22:28] luis-pereira commented on #38
@jleclanche @paulolieuthier I'm on it already.

[2015-03-06 01:41] paulolieuthier commented on #38
Great.

[2015-03-12 15:29] luis-pereira opened #50 "XdgDesktopFile: Not executing Type=Application with pkexec on the Exec line"
The use of ```QProcess::startDetached()``` in ```XdgDesktopFile::startDetached()``` makes pkexec exit with "Refusing to render service to dead parents." due to double forking. http://cgit.freedesktop.org/polkit/tree/src/programs/pkexec.c#n730

References:
https://issues.openmandriva.org/show_bug.cgi?id=1128#c3

[2015-03-12 16:09] palinek commented on #50
I don't know how the ```XdgAction``` or ```XdgDesktopFile``` are used (if the calling/executin application can finish etc..), but I had a quick look at this and the solution for pkexec can be something like this:
[code]

[2015-03-13 09:20] palinek commented on #50
Just played with this one and IMO there is no "easy & nice" solution. Following is possible:

1. use the above, but the newly spawned process remains a direct child of the parent process (lxqt-runner, lxqt-panel ... etc) => if the parent process ends, the child exits also (gets a SIGHUP)

2. if we want to completely detach from parent process we must implement our wrapper which would completely de

[2015-03-13 10:01] palinek commented on #50
Sorry for misleading with the above... all that is true only in case the parent process has a tty attached. That's not the case of lxqt components run by DM.
Just tried the above solution with lxqt-panel (with no tty) => pkexec (in .desktop) works and application spawned by lxqt-parent don't exit upon killing lxqt-panel.

... will make PR

@paulolieuthier the ```QProcess::startDetached``` is also

[2015-03-17 22:35] luis-pereira commented on #38
Closed by https://github.com/lxde/libqtxdg/commit/93bc5207b8750fe3e70236ee98dea6c5aca4a3e2

[2015-03-17 22:35] #38 closed

[2015-03-18 23:21] #50 closed

[2015-03-24 17:21] luis-pereira opened #53 "XdgDesktopFile: Add support for values extending the format"
Values extending the format should start with "X-" and we can't handle them.

[2015-03-25 01:08] #53 closed

[2015-03-28 01:22] luis-pereira opened #54 "Support “-” to separate levels of specificity in icon names"
As described in http://standards.freedesktop.org/icon-naming-spec/icon-naming-spec-latest.html#guidelines

[2015-03-30 23:30] luis-pereira opened #56 "Improve icon lookup performance"
The icon lookup algorithm  works by always looking up filenames in directories (stat). The goal here is implement a caching mechanism to reduce the number of required stat's lookup an icon.

I already started doing it :smile:

[2015-03-31 21:42] luis-pereira commented on #31
Closing this one. It doesn't apply anymore.

[2015-03-31 21:42] #31 closed

[2015-04-07 22:54] luis-pereira opened #58 "Implement XdgDirs tests"
WIP

[2015-04-09 10:40] #58 closed

[2015-05-04 18:01] #54 closed

[2015-06-17 10:53] czchen opened #59 "Clarify license of certain files for Debian packaging"
We need to clarify the license of all files to make this library into Debian. Please help to add license header for the following files:

desktopenvironment_p.cpp: *No copyright* UNKNOWN
test/qtxdg_test.cpp: *No copyright* UNKNOWN
test/qtxdg_test.h: *No copyright* UNKNOWN
xdgdesktopfile_p.h: *No copyright* UNKNOWN

[2015-06-17 11:31] palinek commented on #59
@luis-pereira I didn't notice...you've been selfassigned ...

[2015-06-17 11:41] luis-pereira commented on #59
@palinek no problem. I love done work. Merge it, pls.

[2015-06-17 11:43] #59 closed

[2015-06-20 13:49] jleclanche commented on #59
@agaida @luis-pereira We should do a separate license cleanup for libqtxdg too.

[2015-06-24 20:57] agaida commented on #59
full ack

[2015-07-07 12:32] plfiorini opened #62 "Empty menu when XDG_DATA_DIRS is not"
When I run Hawaii and XDG_DATA_DIRS is empty I don't see the menu.
I believe that libqtxdg should assume a default as said by the specification [1].
Setting XDG_DATA_DIRS make it work.

[1] = http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2015-07-07 13:14] luis-pereira commented on #62
@plfiorini I can't debug it right now. libqtxdg follows the specification. See [here](https://github.com/lxde/libqtxdg/blob/master/xdgdirs.cpp#L239)
An bug is always an possibility tough.

[2015-07-07 15:48] luis-pereira commented on #62
Update:
[code]

@plfiorini It's assuming the default as said by specification.

[2015-07-08 07:22] plfiorini commented on #62
The code that sets defaults was introduced by this commit
https://github.com/lxde/libqtxdg/commit/dcfb0dc4aa61c7a6f5d5746e46cfb7fa40272e95

My distro has libqtxdg 1.2.0 released in March (if I'm not mistaken) so maybe that commit is missing.

[2015-07-08 16:35] luis-pereira commented on #62
@plfiorini Yeap, That's it.

[2015-07-08 16:36] #62 closed

[2015-07-08 20:27] luis-pereira opened #63 "XdgDesktop execute test tool"
A tool to allow executing from the command line.

[2015-09-28 18:25] paulolieuthier commented on #56
I few numbers from callgrind:

I got more than 40K calls to `QDir::exists` in a few seconds running lxqt-panel. More than 30K of that is from `QtXdg::QIconLoader::findIconHelper`. More than 10K from Qt's own `QIconLoader::findIconHelper`.

[2015-09-28 18:27] paulolieuthier commented on #56
I'm not sure if, in the POV of LXQt, that cache would still make sense when LXQt's own also-yet-to-be-done icon caching is implemented. What do you think?

[2015-09-29 15:04] luis-pereira commented on #56
@paulolieuthier Not sure I understood your question.
I made some efforts in caching the icon filenames as suggested in the freedesktop specification. It cuts down the lookup overheads you find.
What's missing is an system-wide cache container. KDE has one that seems to fit my intents.

[2015-09-29 15:12] paulolieuthier commented on #56
This system-wide cache could be implemented in libqtxdg? IMO it only makes sense in the Qt plugin. That's what I meant.

[2015-09-29 15:51] luis-pereira commented on #56
system-wide was a not so good name choice. `XdgIcon` system-wide cache is more acurate.
I did not thought on how to do it.

[2015-10-07 15:44] DrTobe opened #65 "Changing the Icon Theme is broken (in Qt 5.4.1)"
When an lxqt application calls
[code]
with a relative path, this will redirect to
[code]
As `QIconLoader::setThemeName(...)` does not get called, `m_userTheme` is not set. Therefore, the class is looking for system themes in `systemThemeName()`. As **that** function is broken (in my case, Qt 5.4.1), the class will fall back to `fallbackTheme()` which always yields "hicolor" for me.

As all of this

[2015-12-20 16:55] rapgro opened #67 "Specially marked menu entries with X-Red-Hat categories"
Custom category marks get ignored. For instance, Yumex and Yumex-DNF are expected to be grouped into Administration menu but they show in Settings menu.
Downstream: https://bugzilla.redhat.com/show_bug.cgi?id=1217565

Here's a sample:
[code]

[2015-12-21 00:48] pmattern commented on #67
This issue has nothing to do with libqtxdg or any custom value `X-*` of key Categories in desktop entry files. Rather, it's due to custom Fedora files `*.menu` which are handling values `Settings` and `System` of key Categories differently than their upstream counterparts.

E. g. compare `kf5-applications.menu` that's used by default in KDE Plasma 5 with it's upstream counterpart applications.menu

[2015-12-21 17:23] kkofler commented on #67
This is indeed a downstream Fedora issue: The LXQt packaging needs something like this:
http://pkgs.fedoraproject.org/cgit/kf5-kservice.git/commit/?id=6f662a1e28d864e71ed8b4f1c5b1e126c191e57f
with Requires: redhat-menus for translations of the added categories:
http://pkgs.fedoraproject.org/cgit/kf5-kservice.git/commit/?id=2943978001307e47f2df873a893977b372ec0bc6

[2015-12-21 20:18] pmattern commented on #67
Alright then.

[2015-12-21 20:18] #67 closed

[2016-02-16 07:25] SuicSoft opened #71 "Enable GitHub wiki for this repository"

[2016-02-16 07:29] palinek commented on #71
@luis-pereira @jleclanche ?

[2016-02-16 07:51] SuicSoft opened #72 "Add Continuous Integration to this project"

[2016-02-16 10:48] pmattern commented on #71
Wouldn't it eventually be better if we kept all wiki articles summarized in the wiki of component "lxqt" (https://github.com/lxde/lxqt/wiki)? So far no single wiki article exists outside that wiki (besides some components do have their own wiki enabled).

[2016-02-16 12:45] jleclanche commented on #71
I explicitly disabled the wiki because sharding the lxqt components' wikis is very unnecessary.

If you want to contribute docs, I'd say contributing a docs/ folder in the repo itself would be more useful.

[2016-02-17 01:45] SuicSoft commented on #71
Ok

[2016-02-17 01:48] #71 closed

[2016-02-17 13:43] SuicSoft commented on #72
Maybe Travis CI might be good

[2016-03-21 12:34] #63 closed

[2016-03-21 18:14] luis-pereira commented on #65
@DrTobe Do you have lxqt-qtplugin installed ?
Sorry for the late response.

[2016-03-21 20:35] DrTobe commented on #65
No, I haven't. Do you think it could resolve this issue?

[2016-03-22 11:16] luis-pereira commented on #65
Yes, Pls try it.

[2016-03-23 17:51] luis-pereira commented on #18
@jleclanche @pvanek Taking this.

[2016-03-24 20:44] DrTobe commented on #65
Okay, that helped. Thank you very much.

Normally, I am not too concerned about theming and visual appearance but in this case, I was disappointed because some icons were completely missing after the installation. Could we avoid this kind of problem for other users? I have installed LXQt from source code.

[2016-03-24 20:44] #65 closed

[2016-03-25 00:08] luis-pereira commented on #65
@DrTobe You have to be more specific.

[2016-03-25 18:05] DrTobe commented on #65
I installed the panel, and some plugins had no icons. That was disappointing. I wonder if lxqt could ship with these necessary icons.

[2016-03-25 18:16] tsujan commented on #65
Which icon theme did you use?

[2016-03-25 18:41] luis-pereira commented on #65
@DrTobe

- What plugins ?
- What Icons ?
- What Icon Theme ?

[2016-03-27 16:52] DrTobe commented on #65
- volume plugin -> all icons missing (audio-volume-high, audio-volume-medium, audio-volume-low, audio-volume-muted)
- mount plugin -> drive-removable-media, media-eject
- lxqt-qtplugin was not installed so fallback-theme "hicolor" was used

[2016-03-27 19:28] tsujan commented on #65
@DrTobe
There should be a reason why those icons are missing for you and not for others. lxqt-qtplugin was an essential part of LXQT, that you installed by following @luis-pereira's guidance. And you haven't told us yet which icon theme you use. A KDE-compatible icon theme works better with LXQT.

[2016-03-27 19:49] DrTobe commented on #65
Now, with lxqt-qtplugin, I can choose different icon themes. The "gnome" theme for example has all the necessary icons.

All I wanted to say is: It did not work (icons were missing) without lxqt-qtplugin. So either the fallback-theme should contain these icons or there should be a dependency on lxqt-qtplugin.

[2016-03-27 20:06] tsujan commented on #65
They should have been missing! It's a job of lxqt-qtplugin to make Qt5 apps know about icon themes.

[2016-03-27 20:08] tsujan commented on #65
For building from the source, please read https://github.com/lxde/lxqt/wiki/Building-From-Source

[2016-03-27 20:48] DrTobe commented on #65
Lxqt-panel does not depend on lxqt-qtplugin so you can install it without having lxqt-qtplugin installed. As a user, you just encounter that the icons are missing which can be quite frustrating. And lxqt-config does not depend on lxqt-qtplugin either, so changing the icon themes does not work properly. That's what I mean. So, I guess that lxqt-config (lxqt-config-appearance) should be dependent on

[2016-03-27 21:00] agaida commented on #65
it's not a dependency, given the core functionality works - this funcitionality is extended by lxqt-qtplugin - so its clearly a recommend, not a dependency

[2016-03-27 21:07] tsujan commented on #65
@DrTobe
Dependency can have two different meanings: real dependencies and the dependencies of downstream installable packages. When app1 doesn't depend on app2 *in its code*, it means you could compile and install app1 without having app2. However, if app2 is needed for a good UX, the packager should make "app1.deb" dependent on "app2.deb" (or .rpm, .xz, etc.).

If you take a look at the above lin

[2016-03-27 21:29] DrTobe commented on #65
@agaida I think it is a dependency because you just can not change the icon theme without lxqt-qtplugin which is a core functionality of lxqt-config-appearance.

@tsujan Clearly, this problem does not arise if someone installs from their package manager but other ones build from source and they should know why the icons are missing if they haven't installed lxqt-qtplugin.

[2016-03-27 21:34] agaida commented on #65
as @tsujan explained - this is not a build dependency, so it should be mentioned somewhere - with a big fat markup

[2016-03-27 21:36] DrTobe commented on #65
Yes, it is not a __build__ dependency, but nevertheless, the functionality of lxqt-config-appearance depends on lxqt-qtplugin. I guess, we agree now ;). Well, I will add a note in the wiki ...

[2016-03-27 21:41] tsujan commented on #65
@DrTobe
I installed LXQT from its source the first time I knew about it but only after reading the above doc, which was explanatory enough, IMO. As a KDE user, I said to myself, "if these instructions work without problem, I'll start to trust LXQT." For me, everything was quite reliable since the beginning.

[2016-03-27 21:44] DrTobe commented on #65
@tsujan I guess you have installed all the "major components". Then, everything is fine, but a major advantage of LXQt is that it is modular so I believe that it should be possible to not install everything.

[2016-03-27 21:59] tsujan commented on #65
@DrTobe
You're right. In fact, before coming to LXQT, I was experimenting with Enlightenment for several months and used lxqt-qtplugin in it for my Qt5 apps. In such cases, it's the user's responsibility to know what he/she installs and why.

Anyway, any help to make the LXQT doc better is surely welcome!

[2016-05-28 06:08] r-a-v-a-s opened #89 ""files in some directories may conflict with libraries in implicit directories""
When using cmake:

[code]

Then with make

[code]

I couldn't figure out what to do about it.

The Qt version in /home was installed for other projects via:
https://wiki.qt.io/Install_Qt_5_on_openSUSE

I'm on openSUSE Tumbleweed.

[2016-05-28 11:21] luis-pereira commented on #89
@r-a-v-a-s libqtxdg had recently changes in it's internal organization. Pls make sure that you start with a clean build dir.
If the issue persists I will need more info:

- CMake version
- verbose build log
- CMake Generator

[2016-05-28 15:53] r-a-v-a-s commented on #89
I cloned the repository two days ago; therefore, the build directory was clean.

cmake-3.5.2-253.3.x86_64

I don't know how to provide the other information.

[2016-05-28 15:59] luis-pereira commented on #89
Are you using make, ninja, etc etc as an build generator ?

[2016-05-28 16:00] r-a-v-a-s commented on #89
I used `make`

[2016-05-28 16:05] luis-pereira commented on #89
Run:
[code]

and post the results. Use pastebin or something like that.

[2016-05-28 16:09] r-a-v-a-s commented on #89
http://pastebin.com/949VMzgH

[2016-05-28 16:18] luis-pereira commented on #89
How many Qt versions do you have installed ?
The link talks about Qt 5.4.1 on openSUSE 13.2. In the logs cmake seems to have found Qt 5.6.0.
What about the `cmake ..` output ?

[2016-05-28 16:23] r-a-v-a-s commented on #89
I have only ever installed 5.6.0... plus whatever comes with openSUSE / KDE and lxqt

The full cmake output is in my first post.

[2016-05-28 16:25] r-a-v-a-s commented on #89
Actually I missed the first line `Building with Qt 5.6.0`

[2016-05-28 16:30] luis-pereira commented on #89
Where is Qt 5.6.0 installed ?

[2016-05-28 16:34] r-a-v-a-s commented on #89
Because I was not instructed otherwise, I installed it to the default location (/home/username/Qt).

[2016-05-28 16:38] luis-pereira commented on #89
@r-a-v-a-s What's the output of `qtdiag` ?

[2016-05-28 16:43] r-a-v-a-s commented on #89
http://pastebin.com/8i4YsXeG

[2016-05-28 16:52] luis-pereira commented on #89
@r-a-v-a-s Uninstall the stuff you have at ` /home/styling/Qt` and start again with an empty build dir.

[2016-05-28 17:52] r-a-v-a-s commented on #89
Cmake seems to run fine... but I get the same output for make.

[2016-05-28 18:22] r-a-v-a-s commented on #89
Looking at the make output:
`-I/usr/include/qt5/QtGui/5.6.0 -I/usr/include/qt5/QtGui/5.6.0/QtGui -I/usr/include/qt5/QtCore/5.6.0 -I/usr/include/qt5/QtCore/5.6.0/QtCore -`

I have usr/include/qt5/QtCore and /QtGui but they don't have a 5.6.0 folder in them.

[2016-05-28 18:23] luis-pereira commented on #89
@r-a-v-a-s But you should have. That's something wrong with your Qt deployment.

[2016-05-28 19:06] r-a-v-a-s commented on #89
https://forums.opensuse.org/showthread.php/518077-build-libqtxdg-and-private-qicon_p-h

Any thoughts?

[2016-05-28 19:19] luis-pereira commented on #89
@r-a-v-a-s This seems to be a downstream packaging/installation issue. I don't use openSuse, I really don't know how to help you.
p.s. Make sure you don't have the `QTDIR` pointing to a bad place.

[2016-05-28 19:27] r-a-v-a-s commented on #89
New updates on that forum...
I needed to: `zypper in libQt5Gui-private-headers-devel`
which produces `/usr/include/qt5/QtGui/5.6.0/QtGui/private/qicon_p.h`

We got there... thanks for your help :sunglasses:

[2016-05-28 19:27] #89 closed

[2016-05-28 20:28] r-a-v-a-s commented on #89
I just found the "Installing the dependencies" section way at the bottom of the 'Build from source' article... *after* the  "Building the base libraries" section. >_<

I updated a few openSUSE dependencies, and moved the section above "Building the base libraries".

[2016-05-28 21:18] luis-pereira commented on #89
Great.

[2016-06-08 13:26] luis-pereira commented on #72
@SuicSoft I'm working on something like that. But it's not easy. Travis compilers and build tools are very old versions.

[2016-06-18 18:23] plfiorini opened #96 "Actions"
Feature request: it would be cool if XdgDesktopFile had support for actions

See https://specifications.freedesktop.org/desktop-entry-spec/latest/ar01s10.html

[2016-07-30 14:49] luis-pereira opened #98 "Make QIcon::hasThemeIcon() work with our engine."
As @paulolieuthier stated [here](https://github.com/lxde/lxqt/issues/1081#issuecomment-236365625). It's  always returning true.
Makes https://github.com/lxde/lxqt-panel/pull/365 not needed.

[2016-08-05 17:06] #98 closed

[2016-08-16 22:34] luis-pereira commented on #56
Commit https://github.com/lxde/libqtxdg/commit/81112762d6a74bd8188acf00d7a6469f5541e035 is a good way to solve this, IMO.

[2016-08-16 22:39] luis-pereira opened #101 "Advertise that we can use Gtk Icon Cache to speed up lookup"
Packagers should be aware of it. How should it be  advertised ? Put it in the Release Notes ?

[2016-08-16 23:33] agaida commented on #101
Release Notes are good - and i would put it in the README.md

[2016-08-19 11:57] luis-pereira commented on #101
Closed by https://github.com/lxde/libqtxdg/pull/102

[2016-08-19 11:57] #101 closed

[2016-08-19 12:02] luis-pereira commented on #56
Commit 81112762d6a74bd8188acf00d7a6469f5541e035 improves the lookup performance. Closing.

[2016-08-19 12:02] #56 closed

[2016-10-03 13:30] PCMan opened #108 "Proposal: Improve XdgIconLoaderEngine so it stores fallback icon names"
The problem:
QIcon can only has one icon name. When the icon does not exist in the current theme, it simply breaks.
The qtxdg library provides a method to improve this:
  QIcon XdgIcon::fromTheme(const QStringList& iconNames, const QIcon& fallback)
However, this find the fallback icon on QIcon creation only. When the icon theme changes, the previously stored icon name might become invalid in the n

[2017-03-31 23:30] tsujan opened #122 "Wrong icons for sizes"
Consider an icon theme whose icons are all SVG and whose index contains these keys:
[code]
With this arrangement, KDE correctly shows the folder icon from `places/scalable` for folders ≥ 32px while LXQt gets the folder icon from `places/16` for all sizes ≥ 32px.

[2017-04-01 01:03] tsujan commented on #122
The issue happens with the latest github version (clean and without any patch).

The problem does NOT exists in an older version from 2016-12-15 (which I had by chance).

[2017-04-01 01:20] tsujan commented on #122
[This](https://www.dropbox.com/s/qlsoxcb98f4m9uv/xdgiconloader.cpp.diff?dl=0) is the diff for `xdgiconloader.cpp` between github and 2016-12-15.

[2017-04-01 13:10] tsujan commented on #122
OK, the problem is in using expressions like `if (QFile::exists(pngPath))` instead of the old ones like `if (currentDir.exists(pngIconName))` in `XdgIconLoader::findIconHelper()`. Apparently, the new calculations by adding `QLatin1Char('/')` are incorrect.

Sorry, I didn't have time to see which commit was responsible!

[2017-04-04 07:27] palinek commented on #122
No, the problem is/are wrongly placed `break`(s)... see #123

[2017-04-05 20:32] #122 closed

[2017-04-11 19:30] agaida opened #127 "FTBFS from IRC"
[code]

[2017-04-11 19:34] #127 closed

[2017-04-13 18:15] luis-pereira opened #128 "Performance comparison between fallback_hierarchy and master"
Background:
While testing the performance implications of https://github.com/lxde/libqtxdg/pull/116 I found three issues solved by commits 48e957be3f373a38903ab27e2c9d4581d7dd565e, 44cc64135dd5b020595661ac920d4e0553f81a91 and bea193999c0f7982ef1555e9461580394bf67e0c. This issues don't have any relation with  https://github.com/lxde/libqtxdg/pull/116. https://github.com/lxde/libqtxdg/pull/125 conta

[2017-04-27 02:05] fulalas opened #129 "Magnet links can't open currently associated application"
I'm not sure if this is the right section.

Magnet links opened from inside the browser don't open Transmission Qt. I put this inside '/usr/share/applications/mimeinfo.cache':
[code]

And this inside '/usr/local/share/applications/defaults.list':
[code]

It's important to notice that 'transmission-qt.desktop' exists and it's pointing to the right exec command. Also, Transmission Qt is working fine

[2017-04-27 03:52] tsujan commented on #129
@palinek, @luis-pereira

I think here is a good place to bring up a more general issue: **There's a problem with scheme handlers in LXQt.**

The same issue @fulalas has with magnet I have with `mailto`: it never opens Thunderbird but always Qupzilla. I added
[code]
to all places possible (~/.config/lxqt-mimeapps.list, ~/.config/mimeapps.list, ~/.local/share/applications/mimeapps.list) to no avail,

[2017-04-27 04:16] fulalas commented on #129
Nice information, tsujan!

I would like to add that Firefox detects Transmission Qt and asks for opening magnet links with it, but Chrome-based browsers (Chromium and Opera, so far) just open a new tab.

Also, .m3u files (Winamp list type, used among so many audio/video players, like Vlc, Qmmp and SMPlayer) have a similar behavior: double-click on them from Pcmanfm-qt and nothing happens.

[2017-04-27 04:22] tsujan commented on #129
Oh, I forgot to confirm @fulalas's report. Because of that issue, I always drag and drop magnets into qBittorrent. Under KDE, they're correctly opened when they're clicked.

@fulalas, I think your problem with audio/video players is quite different.

(1) Have you added associations? You could use `Configuration Center` → `File Associations` or add them directly to `~/.config/mimeapps.list` (don't

[2017-04-27 04:52] fulalas commented on #129
1- The way I did ('/usr/share/applications/mimeinfo.cache' and '/usr/local/share/applications/defaults.list'), when I open File Associations dialog, I see this: http://img.photobucket.com/albums/v256/Delerue/fileassociations_zpst0bfm7co.png

As you can see, there are 2 sections regarding m3u files. The second one (x-mpegurl) is already set to Qmmp. The first one (vnd.apple...?) isn't.

In a nutshe

[2017-04-27 05:13] tsujan commented on #129
Please forget about `/usr/share/applications/` and `~/.local/share/applications/`; especially the first one: it shouldn't be edited by users. Use `~/.config/mimeapps.list` instead -- create it if it doesn't exist and add associations to it.

`perl-file-mimeinfo` seems to be `perl-file-mimeinfo` in [Slackware](https://slackware.pkgs.org/14.1/slackonly-x86_64/perl-file-mimeinfo-0.27-x86_64-8_slack.t

[2017-04-27 05:17] tsujan commented on #129
BTW, we'd be grateful if you report the refresh problem too but not against pcmanfm-qt.

[2017-04-27 08:35] fulalas commented on #129
OK, I tried what you said (and it fixed .webp files not being opened by LXImage-qt, thanks) but the problem with .m3u files remains -- it simply doesn't open anything unless you right-click and 'Open with...'. :(

It seems there is no 'issue' section on LXQt-Config page: https://github.com/lxde/lxqt-config/

[2017-04-27 10:31] tsujan commented on #129
For m3u files , I have:
[code]
in `~/.config/mimeapps.list`.

[2017-04-27 10:38] tsujan commented on #129
Issues can be opened at https://github.com/lxde/lxqt/issues

[2017-04-28 01:07] fulalas commented on #129
OK, after a deeper investigation I finally began to understand the bug. The problem is a combination of 2 things, none of them related to mime stuff:

1- if the m3u file is inside a FAT/NFTS partition (it's always marked as executable and apparently you can't change this);
2- if Pcmanfm-qt preferences dialog has checked 'Don't ask options on launch executable file';

When these 2 things are set yo

[2017-04-28 01:25] tsujan commented on #129
All of my partitions are ext4 and even when I make an m3u file executable (which is meaningless), pcmanfm-qt correctly opens it with the associated media player when I choose "Open". As you said, your problem is with NTFS, not with mime.

*Please be specific when reporting a bug*, otherwise a lot of time and energy would be wasted!

[2017-04-28 01:32] fulalas commented on #129
Except that this m3u bug is secondary. The main reason this issue was opened is because of x-scheme-handler, specifically with magnet links. Do you think that I wasn't clear regarding this main bug? :(

[2017-04-28 01:47] tsujan commented on #129
I meant the second bug you included in this report, of course. We had a long discussion about it to no avail -- as we had at https://github.com/lxde/pcmanfm-qt/issues/487 -- just because some important facts weren't stated.

[2017-04-28 02:32] fulalas commented on #129
I'm sorry, but users don't have all the knowledge you expect them to have. This one regarding m3u files was very specific and I bet even you wasn't aware of it entirely.

All debate is valid. Living and learning. :+1:

[2017-04-28 03:03] tsujan commented on #129
We really don't expect users to have any knowledge about programming. What we *prefer* is a bug report that contains specific info because otherwise false problems would be created.

Not at all, unless, even now, you haven't stated it clearly. As far as I understood, it was only about files on an *NTFS partition*. It wouldn't require any knowledge to include that part in the report -- and it would

[2017-04-28 03:11] tsujan commented on #129
To be as clear as possible, if in https://github.com/lxde/pcmanfm-qt/issues/487, you just mentioned that there was *a dialog*, many things would be clear from the start. I hope you'll report bugs that we don't know about; I just like to see more specific reports from you -- like this one, except for the m3u part. Actually, on this page, you could see how good a clear report is.

[2017-04-28 03:53] tsujan commented on #129
I opened https://github.com/lxde/pcmanfm-qt/issues/492, which is related to your m3u problem but your problem has another side too, i.e. files are excuatable on your NTFS partition. This part shouldn't be about LXQt but, perhaps, about how that NTFS partition is mounted.

If those files are NOT seen as executable files by another file manager, please open an issue with a title like "pcmanfm-qt see

[2017-04-28 16:31] luis-pereira commented on #129
@fulalas Which browser are you using ?

[2017-04-28 16:38] luis-pereira commented on #129
Chrome/Chromium uses, AFAIK, xdg-open to find which application to use.
To check what application is the current default use:
`xdg-mime query default x-scheme-handler/magnet`

To set it, use:
`xdg-mime default transmission-qt.desktop x-scheme-handler/magnet`

[2017-04-29 00:04] tsujan commented on #129
@luis-pereira
As for mailto, `xdg-mime query default x-scheme-handler/mailto` gives `thunderbird.desktop` here and, as I said above, `xdg-email` gracefully opens Thunderbird email composing page but mailto links are wrongly  "opened" by Qupzilla.

[2017-04-29 08:25] fulalas commented on #129
@luis-pereira, I'm using Opera (Chromium-based). If I execute the first command you told me this is what terminal prints:
`transmission-qt.desktop`

And if I execute the second command I receive this:
[code]
Then I made a copy of my mimeapps to '/home/guest/.local/share/applications/' and execute the second command again, receiving no output whatsoever. Unfortunately the problem remains: clicking

[2017-05-01 08:15] fulalas commented on #129
I've finally managed to fix it. It seems to be a problem with xdg-open, not LXQt, although maybe LXQt can handle this somehow.

References:
https://translate.google.com/translate?depth=1&hl=id&ie=UTF8&nv=1&prev=_m&rurl=translate.google.co.id&sl=auto&sp=nmt4&tl=en&u=https://ziggi.org/chromium-ne-otkryvaet-magnet-steam-i-drugie-podobnye-ssylki/

https://github.com/ziggi/xdg-utils-patched/blob/master

[2017-05-01 08:18] tsujan commented on #129
At least for mailto, I see the problem as an LXQt bug because mailto works OK with KDE.

[2017-05-01 08:26] fulalas commented on #129
I don't know. Maybe KDE handle this problem.

[2017-05-01 08:40] tsujan commented on #129
Then LXQt should do so too. My point: this *is* a bug.

[2017-05-01 12:28] luis-pereira commented on #129
@tsujan If xdg-open does the correct thing, it's not a LXQt bug but rather someone else's bug that LXQt should fix.
Consider this, under LXQt:
`xdg-open 'magnet:?xt=urn:ed2k:354B15E68FB8F36D7CD88FF94116CDC1&xt=urn:tree:tiger:7N5OAMRNGMSSEUE3ORHOKWN4WWIQ5X4EBOOTLJY&xt=urn:btih:QHQXPYWMACKDWKP47RRVIV7VOURXFE5Q&xl=10826029&dn=mediawiki-1.15.1.tar.gz&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fan

[2017-05-01 13:18] tsujan commented on #129
Yes, this is what I also concluded a year ago. If lxde is recognized, lxqt should be included too.

Here, I was hoping for a workaround. If I said it was an LXQt bug, I meant it on the UX level -- but you're right, on the technical level.

[2017-05-01 14:36] luis-pereira commented on #129
@tsujan
Update:
The latest git already as some LXQt support, see commit https://cgit.freedesktop.org/xdg/xdg-utils/commit/?id=6387086e4938d568c2bab185632f60e1619b3f68.

Didn't install it yet. But, by looking at the source.... it probably works.

[2017-05-01 14:51] tsujan commented on #129
@agaida that's good news.

[2017-05-01 22:57] luis-pereira commented on #129
@tsujan @agaida @fulalas The latest git xdg-utils actually correctly open magnet links from chromium.
Awesome news.

[2017-05-01 23:45] tsujan commented on #129
Ah, at last! mailto is fixed too :) Glad to see that both LXQt and Enlightenment are recognized!

@luis-pereira, thanks for the info!

This can be closed because, sooner or later, the git `xdg-utils` will come to all distros.

[2017-05-01 23:45] #129 closed

[2017-05-09 14:41] tsujan commented on #129
Actually, xdg-utils 1.1.2 is a mess regarding LXQt: although magnet and mailto are fixed, xdg-open thinks that all links starting with `file://` (for example, `fie:///.../XXX.pdf`) should be opened by pcmanfm (and not even pcmanfm-qt) under LXQt. Shouldn't we tell them about that?

[2017-05-09 20:40] agaida commented on #129
we should, it's boring

[2017-05-10 04:04] tsujan commented on #129
I agree. Fortunately, 1.1.2 isn't released yet.

Let me explain the problem:

The fact that pcmanfm-qt opens files with their corresponding apps doesn't prove that xdg-utils is OK. Qt has the static method `QDesktopServices::openUrl()`, which can be used to know if xdg-utils works fine under a DE.

With xdg-utils 1.1.1 and if `perl-file-mimeinfo` is installed, `QDesktopServices::openUrl()` opens a

[2017-05-11 17:10] tsujan commented on #129
The disaster happened; xdg-utils 1.1.2 came to Arch (and Manjaro) with its LXQt-friendly appearance. I have to change:
[code]
to
[code]
in `/usr/bin/xdg-open` for `xdg-open` to open a pdf file correctly under LXQt, for example!! Without this change, it gives this error message:
[code]
Please tell them (I would if I knew of the best way to do it)!

[2017-05-11 19:12] tsujan commented on #129
Opened https://github.com/lxde/lxqt/issues/1298

[2017-07-01 04:02] damonlynch opened #134 "xdg-mime query default inode/directory returns wrong result"
[code]
I assume the correct result for now would be `pcmanfm.desktop`

[2017-07-01 06:07] palinek commented on #134
Hi, `xdg-mime` has nothing to do with `libqtxdg`, it's a part of the [xdg-utils project](https://www.freedesktop.org/wiki/Software/xdg-utils/).

[2017-07-01 06:07] #134 closed

[2017-07-01 06:47] damonlynch commented on #134
So where do I file a bug report for Lubuntu next? I thought that's what I was doing here.

[2017-07-01 07:02] palinek commented on #134
IMO here: https://bugs.launchpad.net/lubuntu-next/+filebug

[2017-07-01 07:06] tsimonq2 commented on #134
@damonlynch Hey, Release Manager of Lubuntu here, thanks for trying out Lubuntu Next. :)

@palinek is correct, that's a good place to report the bug.

Thanks!

[2017-07-01 10:13] agaida commented on #134
and there is not much one can do about the mime-type settings - eventually setting the mime-types in the user will help - until the next application comes around and think it is cool to take over several mime-types.

We could consider the mime-handling some kind of broken - and to make things worse there are some  other things involved in finding the right mime-type. As i wrote, when things like t

[2017-10-16 20:08] agaida commented on #96
lxde/libqtxdg/pull/142 should solve that

[2017-10-16 20:08] #96 closed

[2018-07-15 11:20] agaida commented on #18
@luis-pereira - is this bug still valid?

[2018-08-17 16:17] #128 closed

[2019-01-05 17:35] shlyakpavel opened #172 "Loop executed once"
There is an unconditional 'break' within a loop. This is really suspicious :)
https://github.com/lxqt/libqtxdg/blob/1a52e5cb5203a51c1a450bb7fd7268e22fc7c03b/src/xdgiconloader/xdgiconloader.cpp#L474
Have a nice day!

[2019-01-05 17:40] shlyakpavel commented on #172
Probably intentional.
Caused by https://github.com/lxqt/libqtxdg/pull/116
However, I would prefer it to be an `if` condition instead

[2019-01-05 21:17] tsujan commented on #172
Yes, it's very suspicious. A typo?

[2019-01-07 16:00] fenugrec opened #174 "Generic .bin files wrongly identified as "Sega CD disc image" type"
Hi,
the issue is visible in pcmanfm-qt, but I assume file type detection is handled by libqtxdg from libfm-qt ? Let me know if this issue should be filed somewhere else.

##### Expected Behavior
unknown .bin files should show up as "application/octet-stream"

##### Current Behavior
Most .bin files are wrongly identified as "Sega CD disc image" files.

##### Possible Solution
I've erased and re-wri

[2019-01-07 16:15] tsujan commented on #174
If you have a rich icon set, you'll see MS Windows logo for `vmlinuz`.

The same file you tested is seen as `MATLAB script/function` under KDE. I think something outside LXQt and KDE should report a wrong mimetype. You might want to test it under gnome and tell us what you see.

[2019-01-07 16:33] tsujan commented on #174
That depends on the icon set. The important thing is "application/x-sega-cd-rom".

No but it should show `MATLAB script/function` because Dolphin shows that (under KDE).

I think the problem is even deeper than `gio` or `kmimetypefinder5`.

BTW, we use `gio` (in libfm-qt and so, in pcmanfm-qt).

[2019-01-07 16:43] fenugrec commented on #174
I wonder how it decides it's a "MATLAB script", that's even worse - it doesn't even have the right extension !

I'm not even sure why freedesktop even added a *.bin glob for those sega formats -  it's as wrong as if someone called *.csv an "MS Excel spreadsheet".

[2019-01-07 16:49] tsujan commented on #174
These things come and go with updates. I had a lot of `MATLAB script/function` in `~/.cache`; now all of them are `application/octet-stream` (as they should be). However, `/boot/vmlinuz-XYZ` has been `application/x-ms-dos-executable` for years. Let's hope that won't happen with your `test.bin` ;)

[2019-01-07 17:05] tsujan commented on #174
Just for fun:

If you add this line to an empty file and save it, you'll have a nice `text/x-matlab`:

#############

This is the silliest way of deciding about a mimetype. The matlab curse started 2 years ago and still persists in different forms.

[2019-01-07 17:09] fenugrec commented on #174
Arg. Ok, so libfm uses gio as a backend , I didn't know. Is it supposed to check the magic on every file ?

[2019-01-07 18:12] tsujan commented on #174
PCMan is familiar with these things more than anyone. GIO should check contents somehow but it's very fast. The main functions are `g_file_query_info` and then `g_file_info_get_content_type`. The latter is in `glib-X.Y.Z/gio/gfileinfo.c`. Once I had to read it to answer a similar question of mine but don't remember what I found...

[2019-02-15 08:55] tsujan opened #178 "Poor handling of non-digit scale factors"
Our icon handling is poor with non-digit scale factors.
##### Expected Behavior

Icons should look sharp with non-digit scale factors too.
##### Current Behavior

Icons may not look sharp with non-digit scale factors. For example, this is with `QT_SCALE_FACTOR=1.5` (see the quit icon):

![scale](https://user-images.githubusercontent.com/981076/52845406-4cde6780-311c-11e9-8857-00c99519ff69.png)

##

[2019-02-21 10:50] tsujan commented on #178
I may be wrong but it seems to me that we have a minor icon rendering issue with digit scale factors too. SVG icons should look *completely* sharp when resized but they aren't (although not so bad either).

[2019-04-06 23:10] damianatorrpm opened #181 "launching app, crashes lxqt-panel"
Attempting to launch a program crashes the panel and whole session, if:
1. There is already a running (but frozen / hanging / crashed) instance
2. In the desktop file it is marked as DBus Activatable

How to reproduce:
1. Use lxqt
2. Open terminal
3. Run e.g gnome-maps (or a program which has DBusActivatable=true in its desktop file)
4. Hit ctrl + z
5. Try to open gnome-maps from lxqt-panel-menu
6

[2019-04-07 06:56] tsujan commented on #181
I installed gnome-maps (very reluctantly), saw `DBusActivatable` was `true` in its desktop file and launched it from lxqt-panel. The menu was frozen for a second or so but then, gnome-maps started without problem. No crash anywhere.

The one-sec freeze -- ONLY in the panel and nowhere else --- was suspicious but everything related to gnome is suspicious too.

Please:

 * Add the version of your in

[2019-04-07 08:46] tsujan commented on #181
I tested gnome-maps on another computer with the same version of LXQt and the panel was restarted after a crash:
[code]
The second, third,... time I launched gnome-maps, no crash happened.

An interesting thing in the above backtrace is that there 's no trace of lxqt in it.

[2019-04-07 08:48] tsujan commented on #181
I was wrong: XdgMenuWidget is there, which means libqtxdg.

[2019-04-07 10:29] damianatorrpm commented on #181
I am confident the bug is in xdgdesktopfile.cpp
startDetached()
-> startbyDbus

somewhere here:

[code]
The behaviour of the panel freezing for a second demonstrates (even if you are not able to reproduce the complete hang - which I can reproduce every time) that something is wrong, the panel (XdgDesktopfile->startDetached) should not freeze while waiting for a response from the called application

[2019-04-07 10:37] tsujan commented on #181
If you have a working patch, please make a PR!

[2019-04-07 10:42] tsujan commented on #181
It's your choice but if you took a look at the dates of other pull requests, you'd know that it isn't ignored. Each LXQt dev has only one head and 2 eyes, which he uses for all of his life activities.

[2019-04-07 11:07] damianatorrpm commented on #181
I attempt to write a patch at the moment.

That's true, yet the direction I have seen in the open source community is not that encouraging for anyone willing to commit time, fixes and/or functionality. Other outstanding pull request/discussions/reports to the open source community (not necessarily lxqt, often kde),  also see

The lxqt pr mentioned above is still quite recent, I'll give it some tim

[2019-04-07 11:53] tsujan commented on #181
I write the following lines because I value your contribution but think you have a wrong image of it. They're about my own experience.

(1) I made the same mistake you're making years ago -- had made a patch for an LXQt component but it was "ignored" for a long time and I got reluctant to do more at first. Now, I'm an LXQt member ;) That shows something but I don't have time to go into details her

[2019-04-07 12:41] damianatorrpm commented on #181
Thank you for the explanation. For now I will refrain from commenting on the "contributing arguments" further.
The problem with lxqt-panel (and anything using libqtxdg) is though not directly with lxqt or libqtxdg.

The QDBusInterface freezes on construction if the interface corresponds to a frozen application.
https://bugreports.qt.io/browse/QTBUG-75016

which freezes all kind of stuff (qdbusview

[2019-04-07 12:50] tsujan commented on #181
Nice info. Thanks!

[2019-04-09 10:52] palinek commented on #181
@damianatorrpm please, have a look on #182

[2019-04-10 16:14] #181 closed

[2019-04-13 09:38] damianatorrpm opened #186 "qtxdg links to private header of <system> qtxdgiconloader"
1.) Compile qtxdg with local qt (not the one in /usr, but /opt/Qt5.12.2)
2.) link to local qtxdg
` /usr/bin/ld: /usr/lib64/libQt5XdgIconLoader.so.3: undefined reference to QIconLoader::instance()@Qt_5.12.1_PRIVATE_API
`
Why does linking to local install qtxdg (Qt5.12.2), try to load the system xdgiconloader library instead of the local one?

[2019-04-13 10:48] agaida commented on #186
because it find it first

[2019-04-14 16:27] damianatorrpm commented on #186
I understand that this is not a problem specific to lxqt, yet I think default behaviour should be for qt apps to look in Qt's path first

[2019-04-14 16:27] #186 closed

[2019-10-22 20:15] ralphkw1 opened #194 "CMAKE_INSTALL_PREFIX not accounted for in libQt5XdgIconPlugin.so install"
Attempts to install into "/usr/lib64/qt5/plugins/iconengines/libQt5XdgIconPlugin.so" even though CMAKE_INSTALL_PREFIX is set to "\~/usr". In the same build libQt5XdgIconLoader.so installs correctly into "\~/usr/lib64/libQt5XdgIconLoader.so".

##### Expected Behavior
Install into "\~/usr/lib64/libQt5XdgIconPlugin.so".

##### Current Behavior
Attempts to install into "/usr/lib64/qt5/plugins/iconengi

[2019-10-23 07:57] palinek commented on #194
The libQt5XdgIconPlugin.so is installed into directory where your currently used Qt can find it (that can be queried by `qmake -query QT_INSTALL_PLUGINS`).
But you can override it by setting the cmake variable QTXDGX_ICONENGINEPLUGIN_INSTALL_PATH.

[2019-10-23 07:57] #194 closed

[2019-10-28 23:14] luis-pereira commented on #18
`XdgDesktopFileCache` is deprecated. `XdgMimeApps` fixes this issue.

[2019-10-28 23:14] #18 closed

[2019-10-28 23:32] luis-pereira commented on #108
`QIconCacheGtkReader` use solved the performance issue.

[2019-10-28 23:32] #108 closed

[2020-04-08 10:41] tsujan opened #204 "WARNING: libqtxdg needs recompilation with Qt 5.14.2"
After Qt 5.14.2 came to Arch, I saw crashes in screengrab. The cause was in libqtxdg. Recompilation of libqtxdg solved the problem.

Usually, there should be no need to recompile fundamental LXQt components when the third version number of Qt changes. This was an exception.

I close this issue immediately after opening it; just wanted to make distro package maintainers know about it.

P.S. I have

[2020-04-08 10:41] #204 closed

[2020-04-08 13:51] yan12125 commented on #204
FYI, it's already done in Arch: https://git.archlinux.org/svntogit/community.git/commit/trunk?h=packages/libqtxdg&id=17a08ff55d363f20232768095c2ce01771acae83, and Arch has a list for such "exceptions" at https://git.archlinux.org/kde-build.git/tree/rebuild.list?h=qt.

[2020-04-08 14:06] tsujan commented on #204
Thanks for the info! Good to know that Arch's LXQt isn't affected :)

I was worried about Arch because some of its packages are old, while Arch should support latest releases. For example. I'll release FeatherPad 0.13.2 in a week but the latest Arch package is still 0.11.1 https://aur.archlinux.org/packages/featherpad/ (fortunately, AUR's [featherpad-git](https://aur.archlinux.org/packages/feather

[2020-04-09 00:48] yan12125 commented on #204
Well, AUR is another story, you know...

[2020-04-22 12:54] #178 closed

[2020-05-06 17:39] ilya-fedin opened #208 "Conflicts with QtGui symbols on static link"
When linking QtGui and libqtxdg statically to an app, QIconCacheGtkReader and PixmapEntry::pixmap with the ones from qiconloader.cpp

##### Expected Behavior

libqtxdg should work with static link

##### Current Behavior

https://github.com/ilya-fedin/tdesktop/runs/645416587?check_suite_focus=true

##### Possible Solution

Maybe, hide them under namespace? :thinking:

##### Steps to Reproduce (for

[2020-05-07 19:02] luis-pereira commented on #208
That's a possible solution. But, I have not looked into it, yet.

[2020-05-30 06:59] ilya-fedin commented on #208
If they're needed just because these symbols aren't exported, maybe just add a `QTXDG_STATIC_BUILD` define and hide these declarations with #ifndef :thinking:
Something similar is done in tdesktop: https://github.com/telegramdesktop/tdesktop/blob/dev/Telegram/SourceFiles/qt_functions.cpp

[2020-05-30 11:08] ilya-fedin commented on #208
It works for me with these changes: https://github.com/ilya-fedin/libqtxdg/commits/fix-static-build
If it is OK for you, I can open a PR.

[2020-06-04 03:48] tsimonq2 opened #209 "Add manpage"
When building the latest release for Lubuntu, the Debian package linter noted that the following binaries have no manpage:
 - qtxdg-desktop-file-start
 - qtxdg-iconfinder
 - qtxdg-mat

The comment from @agaida in the packaging is:
[code]

Can we address this without ignoring it? :)

[2020-06-04 03:49] tsimonq2 commented on #209
[code]
Nice, so this is easy low-hanging fruit. :)

[2020-06-29 21:34] ilya-fedin commented on #208
I opened https://github.com/lxqt/libqtxdg/pull/212

[2020-07-06 07:21] tsujan opened #218 "Problem with setting default apps with the GLib backend"
My work on https://github.com/lxqt/lxqt/issues/1513 was almost finished, when I found the following issue:

`XdgMimeAppsGLibBackend::setDefaultApp` uses the GLib function `g_app_info_set_as_default_for_type()`. The problem is that, apparently, GLib first reads `~/.config/lxqt-mimeapps.list` to **get** the default apps (see GLib → `gdesktopappinfo.c` → `desktop_file_dir_unindexed_read_mimeapps_list

[2020-07-07 18:40] #218 closed

[2020-07-29 16:36] luis-pereira opened #224 "Look into Qt "Fix double scaling of SVG icons on high DPI screens""
@tsujan You did some work in `ScalableEntry::pixmap()`.
Can you check if https://code.qt.io/cgit/qt/qtbase.git/commit/src/gui/image/qiconloader.cpp?id=d8ab719c0890195cfce0fb6d4c76b3664d6f3a9d applies to us ?

##### Expected Behavior

##### Current Behavior

##### Possible Solution

##### Context

##### System Information

* Distribution & Version:
* Kernel:
* Qt Version:
* cmake Version:
* lxqt-bu

[2020-07-29 17:01] tsujan commented on #224
@luis-pereira
After https://github.com/lxqt/libqtxdg/pull/203 (which may be seen as a workaround for a Qt bug), there is no problem with SVG+scaling in LXQt. An example with a ridiculous scale factor of 5:

![svg_icons](https://user-images.githubusercontent.com/981076/88829958-8efd4b00-d1e2-11ea-88c0-ca124eb21f69.png)

But it's good to see what Qt devs have done and whether it's relevant to our co

[2020-07-29 23:05] tsujan commented on #224
@luis-pereira
The final result is the same but their fix is better than my workaround. So, I made a PR: https://github.com/lxqt/libqtxdg/pull/225

[2020-07-30 11:07] #224 closed

[2020-08-21 23:14] tsujan opened #226 "Icons of newly installed apps may still not be correct"
In spite of using `QFileSystemWatcher` in `xdgiconloader.cpp` for keeping track of updated gtk icon caches, it's still possible that icons of newly installed apps are the fallback "application" icon in the main menu of LXQt Panel. Of course, a panel restart fixes the issue.

I encountered the problem when installing gnome-chess: its icon doesn't exist in my local active icon set but, although the

[2020-10-10 11:17] yan12125 opened #229 "Unneeded URL encoding for %U/%u in .desktop?"
##### Expected Behavior
Running the following commands from the terminal (QTerminal in my case) should open the directory `foo bar` in pcmanfm-qt (my default file manager)
[code]

##### Current Behavior
A dialog with error message
[code]

##### Possible Solution
This is how everything goes:
1. `pcmanfm-qt.desktop` has `Exec=pcmanfm-qt %U`
2. `XdgDesktopFile::expandExecString()` create a `QUrl` fro

[2020-10-10 11:28] tsujan commented on #229
Confirming. `pcmanfm-qt "foo bar"` works but `qtxdg-mat open "foo bar"` gives the above-mentioned error, here too.

[2020-10-10 11:30] tsujan commented on #229
`xdg-open "foo bar"` works fine too. So, `libqtxdg` needs a fix.

[2020-10-13 13:13] SchweinDeBurg opened #230 "[PATCH] Compatibility with Qt < 5.14"
Commit e6c137115ae75857f9835355a08de8a2a704eb64 breaks compatibility with Qt < 5.14, so here is a simple patch:
[code]

[2020-10-13 14:43] tsujan commented on #230
Oh, this is important; we want to support 5.12. @luis-pereira, would you please take a look?

[2020-10-13 14:50] SchweinDeBurg commented on #230
Hm-m-m... I am slightly confused. AFAIR LXQt Team currently declares Qt version 5.10 as a minimal requirement, not 5.12. Am I right?

[2020-10-13 14:57] tsujan commented on #230
Will be 5.12 with in next release (soon).

[2020-10-13 15:25] SchweinDeBurg commented on #230
Bad news for me. :-( I am not a LxQt user and often running my Fedora 27 just under runlevel 3, but when I'm using Openbox as a GUI some parts of LxQt are my everyday choice. QTerminal is a greatest terminal emulator ever and PCManFM-Qt is good to. And they still can be successfully built with stock Qt 5.9.

[2020-10-13 15:37] tsujan commented on #230
Still, compatibility with Qt 5.12 should be checked. 5.12 is the previous LTS. For various reasons, we can't support old Qt versions.

[2020-10-13 15:41] SchweinDeBurg commented on #230
Of course, I am completely understand!

[2020-10-14 11:55] luis-pereira commented on #230
@SchweinDeBurg Test availabe at #231

[2020-10-14 12:50] #230 closed

[2020-10-14 17:49] luis-pereira commented on #229
Probably I'm doing something wrong
[code]
and
[code]
get me this:
![screen2](https://user-images.githubusercontent.com/62877/96025997-d98b7c80-0e4d-11eb-869d-b2d00b5ca14e.jpg)

[2020-10-14 17:57] tsujan commented on #229
@luis-pereira

In @yan12125's example, the folder "foo bar" *exists* but `qtxdg-mat` can't open it.

[2020-10-14 18:27] luis-pereira commented on #229
@tsujan Thanks!. I didn't read the `mkdir .....`.
I was right.... I was doing something wrong. ;)

[2020-10-14 20:47] luis-pereira commented on #229
We can't rely on others good behavior.
Some tweak in checking if the file is local and some minor changes should do it.
Implementing it tomorrow.

[2020-10-15 19:15] luis-pereira commented on #229
@yan12125 Can you pls take a look at the draft PR at https://github.com/lxqt/libqtxdg/pull/232 ?

[2020-10-19 15:54] #229 closed

[2020-10-25 03:07] #208 closed

[2021-03-10 20:11] slidinghotdog opened #245 "XdgDesktopFile::startDetached and XdgDesktopFile::actionActivate not "detaching""
`XdgDesktopFile::startDetached` and `XdgDesktopFile::actionActivate` not "detaching".
I noticed it in lxqt-panel menu and quicklaunch plugins, when killing the panel most programs opened with those plugins close with the panel (tested firefox, brave, chromium, nemo, vlc, looks like electron apps like vscodium do not close).

##### Expected Behavior

after opening, the programs should be independen

[2021-03-10 21:03] tsujan commented on #245
Not reproducible here. I start Firefox from Quick Launch and stop Panel's process from Session Settings; Firefox continues as usual. And the same for the main menu.

I also tested in a terminal and used `Ctrl+C`; no difference. Using Qps for killing or terminating Panel made no difference either. In all cases, Firefox continued as usual.

[2021-03-10 21:49] stefonarch commented on #245
Just tested with Falkon from quicklaunch, it doesn't die when panel is stopped from session settings or killed.

[2021-03-10 22:28] tsujan commented on #245
@slidinghotdog
I found some time and also tested your code. Again, Firefox continued as usual when I closed `MainWindow`.

[2021-03-11 06:32] palinek commented on #245
1. Note the recent changes in libqtxdg (https://github.com/lxqt/libqtxdg/pull/244) & lxqt-session (https://github.com/lxqt/lxqt-session/pull/364) -> this is a feature
2. It can be controlled by setting the env. var QTXDG_START_DETACH_TRULY
3. "a crash in lxqt-panel or other programs that use this lib could lead to a lot of lost" -> no, as the TERM signal is send to child processes only on clean ap

[2021-03-11 06:43] tsujan commented on #245
Oh, my installed `lxqt-session` is from a month ago. Should upgrade it to test everything. Thanks!

[2021-03-11 07:23] tsujan commented on #245
Very nice! it works as intended.

I missed this feature in LXQt for a long time. Now, FeatherPad remembers cursor positions of its session files without needing to be closed before logout. And more...

[2021-03-11 10:59] luis-pereira commented on #245
@slidinghotdog Which libqtxdg version are you using ?

[2021-03-11 16:22] slidinghotdog commented on #245
@luis-pereira
version 3.6.0.13.gdbd0c51-1 from AUR, edited OP

[2021-03-11 16:40] slidinghotdog commented on #245
@palinek this is what happens here.
![qtxdg](https://user-images.githubusercontent.com/33790211/110821695-16c63000-826f-11eb-9288-95b7417c27f4.gif)

[2021-03-11 22:01] tsujan commented on #245
@palinek
After giving it more thought, I think @slidinghotdog's concern is valid.

There are scenarios, where the user or coder may need to restart the panel frequently: making/editing an LXQt theme, adding a plugin, fixing a bug, etc.. He may have opened a browser, a terminal emulator, a text editor,... for his work by using the panel itself. Seeing them disappear can be very annoying.

Although

[2021-03-12 02:20] slidinghotdog commented on #245
Just tested on a fresh vm, and it looks like `QProcess::terminate` as well as sending `SIGTERM` or `SIGKILL` just closes the program without asking to save, tried with `xed` and `featherpad`.
Signals were sent with `htop`.

[2021-03-12 06:02] tsujan commented on #245
@slidinghotdog,
It was supposed to be a feature for making apps exit cleanly at the end of an LXQt session (with `QTXDG_START_DETACH_TRULY` set to `0` , which is the default). However, it isn't limited to the session end and that's the problem -- at least, in my opinion.

[2021-03-12 06:04] tsujan commented on #245
Not for showing a save prompt but for saving their configuration.

[2021-03-12 06:46] palinek commented on #245
And what should be the answer? The env. vars are IMO perfectly valid for configuring of low level libraries behavior. Note that the panel/runner developer is not any regular Joe and running panel/runner instance with some env. vars set is a matter of seconds.

[2021-03-12 07:04] tsujan commented on #245
@palinek, I don't know -- I even haven't found time to read its codes -- but the current behavior doesn't seem "natural" to me when I become an LXQt *user*, in contrast to a developer.

It isn't acceptable to me that, in the middle of a heavy work, my text editor suddenly disappears without a save prompt only because I've stooped lxqt-panel's process. That *is* acceptable when -- and only when --

[2021-03-12 07:42] slidinghotdog commented on #245
i was expecting something like the `_NET_CLOSE_WINDOW` but looks like there's no equivalent signal for that, and it looks like that isn't the purpose of those changes anyway.

Could `lxqt-panel` forward the opening of programs to `lxqt-session`? So everything is bound to session instead of panel?

[2021-03-12 07:55] tsujan commented on #245
@slidinghotdog
Usually, apps do their last-second saving and cleanup in reaction to signals like `SIGTERM`. I don't think anyone expects more. However, I've seen that, under KDE, if a (Qt?) text editor has unsaved documents, a prompt is shown on logging out (I don't know if that's still the case because I don't use KDE). I don't think we can do that in LXQt but the current problem isn't related to

[2021-03-12 08:19] slidinghotdog commented on #245
It still does, i tried it a few days ago, and qbittorrent always inhibits reboot/logout even if its option to do so is disabled, also happens on browsers playing media i think... Pretty annoying "feature" IMO.

Also i just remembered that people use `lxqt-panel` without the rest of `lxqt` so if this is doable it would need to account for that too.

[2021-03-12 08:37] stefonarch commented on #245
Well, it does also for open libreoffice documents, that's not bad.
In LXQt the intern recovery of Libroffice has to do it's work on next opening.

[2021-03-12 14:00] tsujan commented on #245
OK, this is a bug -- or a regression:

I stop panel from LXQt Session Settings and the dialog of LXQt Session Settings disappears. How can the user know how to restore the panel? IMO, it should be fixed before 0.17.

[2021-03-16 01:19] tsujan opened #246 "kiconthemes-5.80.0 ruins LXQt's colorizing of SVG icons"
I know that this may sound impossible but I'm 100% sure about it: kiconthemes-5.80.0 came here with a KDE upgrade and made all my icons disappear after a logout and login (or reboot). It took me more than an hour to find out that it was `kiconthemes` and not one ot the other 76 KDE packages (in Arch) that caused the problem.

The problem happens with Breeze or any SVG icon set that has stylesheet.

[2021-03-16 03:29] tsujan commented on #246
The intruding commit is https://github.com/KDE/kiconthemes/commit/5666c0c46e913fecbe2b41157f241685f126ab30. I got rid of the problem by reversing it. I haven't found another way yet; particularly, registering `XdgIconLoaderEngine` for `svg` had no effect.

The issue isn't limited to colorizing: some icon paths aren't seen either. For example, the start menu icons of some panel themes become blank.

[2021-03-16 05:42] tsujan commented on #246
OK, registering `XdgIconLoaderEngine` for `svg` was a baseless idea -- I'd forgotten the code of `xdgiconloader.cpp` → `ScalableFollowsColorEntry::pixmap()`.

With the above-mentioned commit, `kiconthemes` practically hides `qtsvg` from us by stealing its key, namely "svg". Therefore, even if we use `QSvgRenderer` directly (with a self-made cache) or resort to the old method (https://github.com/lx

[2021-03-16 06:30] Chiitoo commented on #246
Interesting.  This commit broke things in a different way for me, where Falkon and some other applications didn't even start (fixed in 65ee2fac [1]).

Unfortunately, I use the Oxygen icon theme which seems unaffected.  Could have reported this, too, while reporting the other issue...

1. https://invent.kde.org/frameworks/kiconthemes/-/merge_requests/22

[2021-03-16 06:53] stefonarch commented on #246
@yan12125 mentioned this in IRC https://bugs.archlinux.org/task/69988

[2021-03-16 07:01] tsujan commented on #246
@Chiitoo, @stefonarch, thanks!

Happy to know that @yan12125 had seen the problem before me -- Arch updates came to Manjaro Testing (my distro) only last night.

The solution No. 3 is always possible (I'll try it as soon as I find some time) but the above-mentioned commit isn't acceptable: no engine should use the key of another one, especially when the latter is so important.

[2021-03-16 07:18] yan12125 commented on #246
Thanks for creating this issue. I was going to open one :)

I mentioned the problematic commit in https://bugs.kde.org/show_bug.cgi?id=434451. Let's see what KDE devs think. The best option is fixing the issue in KDE. If no KDE devs respond in a few days, I will ask if KDE maintainers at Arch want to revert that commit like [this PKGBUILD](https://fars.ee/tdpu).

[2021-03-16 07:31] tsujan commented on #246
Thanks a lot!

I hope KDE will reverse it but using of `QSvgRenderer` for all SVG icons in our icon engine should prevent such nasty issues. With an appropriate cache, I don't think there would be an overload but I should first test it. Our current code works fine but it isn't elegant because it depends on how things are done in qtsvg's code.

[2021-03-16 08:56] stefonarch commented on #246
I blocked update of kiconthemes   in` /etc/pacman.conf`, no issue.

[2021-03-16 09:48] tsujan commented on #246
I tried `QSvgRenderer` with `QPixmapCache` and, as far as my quick tests showed, it worked fine in spite of the above-mentioned commit.

However, apparently, kiconthemes-5.80.0 is still an issue with icons of some stylesheets (like those of lxqt-panel). The problems that it creates can't be completely avoided. *That commit should be reversed*.

[2021-03-18 02:24] yan12125 commented on #246
KDE devs are discussing about reverting it: https://invent.kde.org/frameworks/kiconthemes/-/merge_requests/25

Somehow I failed to create an account for logging into KDE's GitLab :/

[2021-03-18 11:49] yan12125 commented on #246
Merge request 25 is closed in favor of https://invent.kde.org/frameworks/kiconthemes/-/merge_requests/26. Looks like KDE devs are willing to fix bugs in kiconthemes while they also want to keep kiconthemes as the svg handler...

@tsujan Do you have an account on KDE's but tracker? I'd like explain why things are broken in LXQt, but I'm not familiar with libqtxdg or lxqt-qtplugin enough to write a

[2021-03-18 12:10] tsujan commented on #246
Very bad decision! I fixed the colorizing here by using `QSvgRenderer` but the non-colorized mode will be ignored by `kiconthemes`. I might be able to fix that too but I think SVG icons will still have problems in Qt stylesheets.

I do but I'm too angry now. Maybe later. For now, I prefer to focus on my workaround for LXQt not to be at the mercy of such decisions in future.

[2021-03-18 14:53] tsujan commented on #246
This is my proposal: https://github.com/lxqt/libqtxdg/pull/247

It may seem complex in the form of a patch but its logic is as simple as this: use `QSvgRenderer` to draw SVG icons, whether they're colorized or not.

It passed my tests after I re-installed the problematic `kiconthemes` V5.80.0.

As for stylesheets, I can see only the lack of start menu icon in one LXQt theme (Kvantum). I can't expl

[2021-03-19 08:50] tsujan commented on #246
OK, I can't see any problem in practice but it should be tested more.

I think the most important thing was preventing plugins like `kiconthemes` from ruining LXQt's handling of SVG icon themes. That's done by the PR.

The remaining issue is that, if `kiconthemes` is present, it'll still be active — with its bugs and "features" — wherever an SVG file is *direcctly* used as an icon. I don't think w

[2021-03-19 09:24] palinek commented on #246
Heh...isn't this even a vulnerability?
With this, if you're able to fool the user to install your (other way valid) app (which will silently steel the svg rendering), then you can attack the victim with perfectly renderable .svg which includes malicious code/directions for your compromised "render engine".

[2021-03-19 09:44] tsujan commented on #246
Yes, it can be seen as a vulnerability. You provided a good example.

I meant the relation of "power" and responsibility. In my example, the "power" is `k < o`; in the case of kiconthemes, it's `K < l` (KIconEnginePlugin.so → libqsvgicon.so).

[2021-03-24 10:00] tsujan commented on #246
I think this can be closed now.

If a user opens an issue about, for example, the wrong size of flags in Panel's keyboard indicator, he/she could be asked to open an issue against `kiconthemes`. I'll try to patch every new version of `kiconthemes` here for comparison.

[2021-03-24 10:00] #246 closed

[2021-04-07 07:37] #245 closed

[2021-04-15 14:36] darkshram opened #250 "QStringView is not supported by Qt5 5.12."
Trying to build LXQt 0.17.0. Everything built perfectly in my Qt5 5.15 tree. But in my Qt5 5.12 tree fails. QStringView is not supported by Qt5 5.12.

##### Expected Behavior
Should build with Qt5 5.12? CMakeLists.txt says Qt5 5.12. should be supported.

##### Current Behavior
Does not build with Qt5 5.12.10.

##### Possible Solution
a) Add conditionals for QStringView and let QStringRef for older

[2021-04-15 14:59] tsujan commented on #250
`QStringView` was introduced in Qt 5.10 (→ https://doc.qt.io/qt-5/qstringview.html) but, yes, some of its methods need 5.14 or 5.15.

Since we can't change the min. required version in a point release, version checks may be needed. But they could be ugly :(

`QStringView` was first used in https://github.com/lxqt/libqtxdg/commit/a7de9b2dc7d7b9c37443263884eb4d83d47f134a. @luis-pereira, what should

[2021-04-15 15:10] darkshram commented on #250
Made a patch to test, it built without warnings nor errors. Will try build the whole LXQt with Qt5 5.12 and then test if something broke because of this patch.

[code]

[2021-04-15 15:17] tsujan commented on #250
I don't think it'll break anything.

If you also find a compilation problem with Qt 5.12 in other LXQt components, please tell us!

[2021-04-15 15:20] darkshram commented on #250
@tsujan Count on it. Libfm-qt has a build issue too. Will post it in libfm-qt issues.

[2021-04-15 15:26] tsujan commented on #250
@darkshram
Thanks! We needed your tests for point releases; I think none of us has Qt 5.12.

[2021-04-15 16:44] luis-pereira commented on #250
@tsujan I still have 5.12.9 in one machine.

[2021-04-15 17:03] luis-pereira commented on #250
@tsujan You are right, `QStringView::lastIndexOf()` was introduced in 5.14. grrrrrrrrrrrrr

[2021-04-15 17:11] luis-pereira commented on #250
@darkshram Thanks.

[2021-04-15 17:17] #250 closed

[2021-05-18 17:28] maxrd2 opened #258 "XdgIconLoader ignores QIcon::fallbackSearchPaths()"
QIcon::fallbackSearchPaths() was added in Qt 5.11

##### Expected Behavior
When [QIcon::fromTheme("some_icon")](https://doc.qt.io/qt-5/qicon.html#fromTheme) fails to find "some_icon" in theme search paths [QIcon::themeSearchPaths()](https://doc.qt.io/qt-5/qicon.html#themeSearchPaths) it's supposed to find non-themed icon from [QIcon::fallbackSearchPaths()](https://doc.qt.io/qt-5/qicon.html#fallbac

[2021-05-18 18:03] tsujan commented on #258
LXQt follows [freedesktop.org Icon Theme Specification](https://specifications.freedesktop.org/icon-theme-spec/icon-theme-spec-latest.html) (with a small modification). The inheritance of an icon theme is independent of the platform, let alone Qt.

Do you know of any freedesktop.org standard about this?

[2021-05-18 18:21] tsujan commented on #258
OK, I checked Qt's code: `QIcon::setFallbackSearchPaths()` just adds a *Qt-specific* path, ignoring freedesktop standards..

I, for one, have no problem with adding `QIcon::fallbackSearchPaths()` *after* the standard fallback paths but it seems quite weird to me.

@luis-pereira, what do you think?

[2021-05-18 18:48] maxrd2 commented on #258
I don't think it's part of any standard, just how Qt5 APIs handle icon fallbacks.
Since LXQt has it's own Qt5 icon engine plugin thought to just bring it to your attention.

[2021-05-18 19:05] tsujan commented on #258
OK, thanks!

I wonder why, on the one hand, Qt leaves the effect of `QIcon::setFallbackSearchPaths()` (or the lack of it) to the platform's implementation and, on the other hand, it allows overriding `QPlatformTheme::IconFallbackSearchPaths` by the app! It doesn't look self-consistent.

[2021-06-01 14:20] ahsand97 opened #260 "Status Notifier not showing correct icons having dash in their names"
##### Expected Behavior

All applications that use appindicator should display their icon correctly in the panel.

##### Current Behavior

Some applications don't display their appindicator icon, it just shows the generic **application-x-executable** icon, Remmina is one of them, if I install Remmina normally and run it, it doesn't show the appindicator icon but it does display the icon correctly

[2021-06-03 04:27] tsujan commented on #260
I reopened and transferred this issue to where it belongs.

[2021-06-03 04:43] ahsand97 commented on #260
You can download this **[.jar](https://github.com/Starcommander/JAppIndicator/blob/master/bin/JAppIndicator.jar)** to test and run it with `java -jar JAppIndicator.jar`

I just wanna let you know that AppIndicators created with libraries or .AppImages (the icons are in the /tmp folder) those **StatusNotifierItem** in their `IconName` property there's a full path to the icon but [here](https://gith

[2021-06-03 04:50] tsujan commented on #260
@ahsand97, please don't mix different issues in the same report. If your problem with Java isn't fixed after the PR is merged (I'm preparing it), you could open a separate report for it.

[2021-06-03 04:54] ahsand97 commented on #260
The problem is related with the SatusNotifier plugin since it adds an additional **.png** to the icon path for AppImages and portable things I guess (cuz it creates its icons in the /tmp folder) is not related wih Java at all (I just pointed out that example cuz it's easy to test), you can check what I said with any AppImage that uses appindicators or any library (it doesn't matter if it's java, p

[2021-06-03 05:03] tsujan commented on #260
That makes no difference. Read the recent comments about dash fallbacks. Here, we're dealing with them, *and nothing else*: one report/PR for each problem.

I know that you couldn't guess it — who could? @slidinghotdog, @stefonarch and I spent a lot of time to find it — but that's the way issues and fixes are organized in LXQt.

[2021-06-03 05:05] ahsand97 commented on #260
I'm pretty sure that additional **.png** I mentioned is ruined icons, how can I prove my point or at least make it get fixed?:
Here's the proof deleting that extra **.png**:
![image](https://user-images.githubusercontent.com/32344641/120589930-495f6f00-c3ff-11eb-8669-d800dfba6707.png)
all AppIndicators work

should I open another issue?

[2021-06-03 05:18] tsujan commented on #260
The PR is here: https://github.com/lxqt/libqtxdg/pull/261

[2021-06-03 05:43] tsujan commented on #260
Yes, please open a separate issue with an appropriate title at https://github.com/lxqt/lxqt-panel/issues. I changed the title of the current issue intentionally.

It should be investigated. A partial fix may cause new bugs.

[2021-06-03 05:58] tsujan commented on #226
The problem seems to fixed by https://github.com/lxqt/libqtxdg/pull/261. I tested by installing gnome-chess and its icon appeared correctly with https://github.com/lxqt/libqtxdg/pull/261 but more tests are needed.

[2021-06-03 06:48] stefonarch commented on #260
Compiled  #261 and remmina icon is fixed now after reloading panel, but solaar shows still the generic icon.
What still doesn't work for both icons is opening by left click,

[2021-06-03 06:51] tsujan commented on #260
That's related to the app, not Status Notifier.

[2021-06-03 07:03] tsujan commented on #260
@ahsand97, the second issue that you mentioned is fixed by https://github.com/lxqt/lxqt-panel/pull/1624

[2021-06-03 07:12] ahsand97 commented on #260
Soolar's icons are in the folder  `/usr/share/solaar/icons` , all of its icons are **.svg** files (also Remmina's ubicated in `/usr/share/icons/hicolor/apps`), the plugin only seem to look for **.png** files (I'm not sure) but adding this [here](https://github.com/lxqt/lxqt-panel/blob/c4c3039fce4f52fe4907305d5af093cff10b8809/plugin-statusnotifier/statusnotifierbutton.cpp#L178) partially fixes the

[2021-06-03 07:44] tsujan commented on #260
As I asked earlier, open reports, each for one issue.

[2021-06-03 08:55] tsujan commented on #260
@stefonarch, please check https://github.com/lxqt/lxqt-panel/pull/1625 in addition to libqtxdg patch if by generic icon you meant `application-x-executable`.

[2021-06-03 11:15] stefonarch commented on #260
Yep, that works for solaar icon (it was application-x-executable).

[2021-06-03 12:43] tsujan commented on #260
Thanks!

[2021-06-11 01:57] flychenjun commented on #226
I installed some wine applications and the icons are refreshed in time，The problem seems to fixed by #261

[2021-07-10 01:50] ahsand97 commented on #260
The remmina icon worked for a while, my lxqt panel got updated by pacman and now I don't see icons for the applications **variety** and **remmina**

I pulled the 2 PR u made [this](https://github.com/lxqt/lxqt-panel/pull/1625) and [this](https://github.com/lxqt/libqtxdg/pull/261) and recompiled again still isn't working:

I put some prints to debug:

**solaar** (it shows icon)
![image](https://use

[2021-07-10 05:25] tsujan commented on #260
Not related to this. The PRs haven't been reviewed and merged; so, they weren't in your updates and later, you should have made some mistakes.

[2021-07-10 05:55] ahsand97 commented on #260
Ok thanks, then I compiled **libxdg** and **lxqt-panel** manually with the 2 PRs u made why is not working for **remmina** and **variety** bu it works for **solaar* (which it wasn't working when I recently opened the issue)

[2021-07-10 06:01] tsujan commented on #260
When a non-merged patch works for you and then it doesn't work after an upgrade, it should be about a local problem/mistake. Please don't complicate this page with those problems; it doesn't help at all.

[2021-07-10 07:16] ahsand97 commented on #260
I'm just tying to help or should I open new issues??? I downloaded the source code of both libxdg and lbxqt-panel with your pull requests and after compiling them and install them the appindicators are still not showing. aren't users allowed to keep track of issues??? if I'm doing it is cuz I use LXQT on a daily basis and hate those bugs and those apps show their icon in other DEs it should work f

[2021-07-10 07:22] tsujan commented on #260
Ranting isn't helping. Wait until the PRs are merged. If, *after that*, you see a problem, open another issue.

[2021-07-10 10:41] stefonarch commented on #260
Did you switch to the branches `git checkout search_hicolor_before_dashfallbacks` in libqtxdg and `git checkout status_notifier_icon_extension` ?

[2021-07-10 18:23] ahsand97 commented on #260
The bug affect me every day that's why I want it to be solved at least for me cuz I know it takes long to have those changes via **pacman** and I work with **remmina** everyday.

Yes I downloaded those branches, compiled them and installed them and the icons weren't working out of the box.

After cloning the branch **[status_notificer_icon_extension](https://github.com/lxqt/lxqt-panel/tree/status_

[2021-07-10 18:52] #260 closed

[2021-07-10 18:52] tsujan commented on #226
Fixed in https://github.com/lxqt/libqtxdg/pull/261, among other things.

[2021-07-11 03:37] tsujan commented on #226
Reopening because it partially happened when I installed `variety` (to test a user's claim, which wasn't related to this): The generic icon was shown in Main Menu before restarting the panel but the correct icon was shown in pcmanfm-qt without restarting it. It's a progress but not enough.

[2021-07-11 06:54] yan12125 commented on #260
I'm not sure if I follow everything here, but seems the only remaining issue is for applications that use absolute paths as icons? (ex: `*.appimage`). If so, please try this patch:
[code]

[2021-07-12 07:37] ahsand97 commented on #260
@palinek I can't reply on [this](https://github.com/lxqt/lxqt-panel/commit/1a7802f5761735b4775ac1dd327747ff29981a96#commitcomment-53350975) and thanks for the feedback, what I was trying to point out is that `QIcon::hasThemeIcon(iconName)` returns `false` for the icon **remmina-status** in the tests I did on my pc and in a virtual machine, so there's no appindicator for **remmina** eve with the la

[2021-07-12 07:56] yan12125 commented on #260
Excellent point @palinek! Do you know when will it occur?

Cool! I'm +1 for that change - get rid of `hasThemeIcon()` and just use `fromTheme()`.

[2021-07-12 08:00] palinek commented on #260
If there is not the "exact match" (meaning the "dash fallback" is available only):
[code]

I think that also...

[2021-07-12 08:06] palinek commented on #260
IMO something like this should be used..

[2021-07-12 08:09] yan12125 commented on #260
yeah, this is basically the same patch @ahsand97 tested above (https://github.com/lxqt/libqtxdg/issues/260#issuecomment-878046696)

[2021-07-13 05:14] yan12125 commented on #260
As a record, that patch is merged in https://github.com/lxqt/lxqt-panel/pull/1637

[2021-07-14 05:38] yan12125 commented on #260
@ahsand97 I'm now considering a different fix than lxqt/lxqt-panel#1637, and I need to know the actual cause that breaks the icon of remmina on your machine. Could you paste the output of the following 3 commands?

[code]

[2021-07-14 06:21] ahsand97 commented on #260
It was not only on my machine but on a new virtual machine using Garuda Linux LXQT with the latest **lxqt-panel** and **libqtxdg** too, the only issue I saw is that the function `QIcon::hasThemeIcon(iconName)` was returning `false` for the icons **remmina-status** and **solaar-init** , in the case of **solaar** the icon was still showing cuz its property **iconThemePath** was specified then the pl

[2021-07-14 08:02] tsujan commented on #226
More thoughts:

As for why, after recent changes, this issue happens with lxqt-panel and not with pcmanfm-qt, my first thought was that it might be because of `XdgIcon::fromTheme()` but replacing it with `QIcon::fromTheme()` in the panel's code didn't make a difference.

`libfm-qt` (on which pcmanfm-qt depends) uses `GIcon` to find icons of desktop entries. My wild guess is that `GIcon` is somehow

[2021-07-14 09:44] yan12125 commented on #260
Packages look normal. My lxqt-panel picks `/usr/share/icons/hicolor/32x32/status/remmina-status.svg`, and you have that file, too. Let's see what's the behavior of lxqt-panel for you. Could you trace actions done by lxqt-panel?

* Stop lxqt-panel via lxqt-config-session
* Run `strace -o lxqt-panel.log -s 512 -f lxqt-panel` from a terminal
* Start remmina
* Upload lxqt-panel.log

I really appreciat

[2021-07-14 11:31] ahsand97 commented on #260
**log with the latest changes** (icon shown correctly)
[lxqt-panel.log](https://github.com/lxqt/libqtxdg/files/6815563/lxqt-panel.log)

**log with the previous version** ([this one](https://github.com/lxqt/lxqt-panel/blob/2f18ff5cd32bec0ee7e15ffbaabbd41b6d5a7a18/plugin-statusnotifier/statusnotifierbutton.cpp), icon not showing)
[lxqt-panel_2.log](https://github.com/lxqt/libqtxdg/files/6815628/lxqt

[2021-07-14 11:56] yan12125 commented on #260
I guess I know why things are broken for you. You have qt5ct, and the latter is known to cause several issues: https://github.com/search?q=org%3Alxqt+qt5ct&type=issues. Try uninstalling qt5ct, set to another style in lxqt-config-appearance and re-login. Older commits like https://github.com/lxqt/lxqt-panel/blob/2f18ff5cd32bec0ee7e15ffbaabbd41b6d5a7a18/plugin-statusnotifier/statusnotifierbutton.cpp

[2021-07-14 11:59] ahsand97 commented on #260
qt5ct is indeed installed but I don't use it `echo $QT_QPA_PLATFORMTHEME` gives me `lxqt`

[2021-07-14 12:20] yan12125 commented on #260
`QT_QPA_PLATFORMTHEME=lxqt` makes applications load lxqt-qtplugin, and the latter loads the actual style plugin according to the value of style= in the [Qt] section of `~/.config/lxqt/lxqt.conf` [1]. That corresponding GUI option is in lxqt-config-appearance as I mentioned above.

Your log shows qt5ct. From lxqt-panel_2.log,

11370 statx(6, "", AT_STATX_SYNC_AS_STAT|AT_EMPTY_PATH, STATX_ALL, {stx_

[2021-07-14 12:39] ahsand97 commented on #260
I mean after removing qt5ct, okay so...there's no qt5ct installed no more, `QT_QPA_PLATFORMTHEME` has always been set to `lxqt`  and I changed lxqt-config-appearance to use kvantum-dark style after removing qt5-styleplugins as you suggested and still `QIcon::hasThemeIcon(iconName)` is `false`

log with older commit
[lxqt-panel.log](https://github.com/lxqt/libqtxdg/files/6816038/lxqt-panel.log)

bu

[2021-07-14 13:50] yan12125 commented on #260
Thanks for the patience. Now I'm not sure what is the cause... Anyway, the next target may be the icon theme cache. Could you try to remove this file: `/usr/share/icons/hicolor/icon-theme.cache` (ex: move it to somewhere else and move it back later), restart lxqt-panel and see if anything changes?

[2021-07-14 15:02] ahsand97 commented on #260
Same result, `QIcon::hasThemeIcon(iconName)` returns false, out of curiosity I did this little script to see if same result was giving me another machine with XFCE and it was the same
[code]
![image](https://user-images.githubusercontent.com/32344641/125644575-e0f65ae9-ef81-4c9d-acce-491d38207be1.png)

the **battery** icon returns true

[2021-07-14 16:11] ahsand97 commented on #260
(older commit and without `/usr/share/icons/hicolor/icon-theme.cache`)
[lxqt-panel.log](https://github.com/lxqt/libqtxdg/files/6817490/lxqt-panel.log)

my script, without `/usr/share/icons/hicolor/icon-theme.cache`
[prueba.log](https://github.com/lxqt/libqtxdg/files/6817507/prueba.log)

[2021-07-14 17:18] yan12125 commented on #260
Could you double check if `/usr/lib/libQt5XdgIconLoader.so.3` is built from the the latest libqtxdg, including the commit dcac08a03317e544152570b954df41352618e6f9 (ex: check the last modified date of that file)? Note that by default cmake install stuffs to `/usr/local`. You need `cmake -B build -S . -DCMAKE_INSTALL_PREFIX=/usr` and `sudo make -C build install` to override system libraries. From yo

[2021-07-14 17:46] ahsand97 commented on #260
Yes, it is, including the latest commit and pretty much same behaviour

Yes of course but since I'm the only one who seem to be able to reproduce it (so far) I guess I'm just gonna stick with `XdgIcon::fromTheme(iconName)` or `QIcon::fromTheme(iconName)`

Great, I only did the test on XFCE out of curiosity to check if the behaviour was the same

[2021-07-14 17:57] yan12125 commented on #260
Thanks. I'm afraid I cannot help you more for now. If I'm lucky, I
will get back to my powerful PC and I will be able to run virtual
machines there, during roughly the middle of August. Before I do more
tests then, you may need to check all the stuff yourself. I suspect
https://github.com/lxqt/libqtxdg/commit/dcac08a03317e544152570b954df41352618e6f9
does not work as intended in some cases. Maybe a

[2021-09-12 22:40] tsujan opened #264 "`xdg-utils` should use `qtxdg-mat` under LXQt"
This isn't a bug in LXQt but an urgent need.

Currently, `xdg-open` only uses `open_generic` under LXQt, causing troubles like https://github.com/lxqt/lxqt-panel/issues/1661.

@luis-pereira made `qtxdg-mat`. It should be used in `xdg-open` under LXQt.

[2021-09-12 22:41] tsujan commented on #264
Also, you may want to take a look at https://github.com/lxqt/lxqt-panel/issues/1661#issuecomment-917721942

[2021-12-03 19:51] luis-pereira commented on #264
@tsujan Real life get's in the way. But it's ready for testing, now.
Pls try the `enhance-lxqt-support` [branch](https://gitlab.freedesktop.org/luis-pereira/xdg-utils/-/commits/enhance-lxqt-support) at [my fork](https://gitlab.freedesktop.org/luis-pereira/xdg-utils/) from [upstream xdg-utils](https://gitlab.freedesktop.org/xdg/xdg-utils).

After positive feedback I will make a merge request.

[2021-12-03 20:37] tsujan commented on #264
@luis-pereira
Many thanks!

I applied your patch (https://gitlab.freedesktop.org/luis-pereira/xdg-utils/-/commit/d2adf5efdc259a63028f8d4f21569c1557b8cfff) to `xdg-utils` 1.1.3+19+g9816ebb. Everything seems OK; https://github.com/lxqt/lxqt-panel/issues/1661 isn't reproducible anymore.

I'll use it for a few days and report back.

[2021-12-03 20:41] tsujan commented on #264
@stefonarch, could you also confirm that https://gitlab.freedesktop.org/luis-pereira/xdg-utils/-/commit/d2adf5efdc259a63028f8d4f21569c1557b8cfff fixes https://github.com/lxqt/lxqt-panel/issues/1661 without `~/.local/share/applications/defaults.list`?

[2021-12-04 17:49] stefonarch commented on #264
Ok, looks like this filelight error doesn't show up anymore now. Will test for  some days.

[2021-12-06 19:02] tsujan commented on #264
@luis-pereira
I haven't encountered any problem with your patch after three days.

[2021-12-07 21:08] luis-pereira commented on #264
Nice.

[2021-12-20 22:09] luis-pereira commented on #264
@stefonarch Do you have any feedback on this ?

[2021-12-21 05:49] tsujan commented on #264
In case you also want to know what I see here after 17 days, it's the same as before: have encountered no problem.

[2021-12-21 07:30] stefonarch commented on #264
Sorry thought I'd said it somewhere: no issues encountered all those days.

[2022-03-31 11:08] msojocs opened #277 "In function xxxx multiple definition of xxx"
##### Expected Behavior

No error happened.

##### Current Behavior

when the make program do the task of `Linking CXX shared library libQt5XdgIconLoader.so`,
it was stopped by errors.
I am using qt of [qt5.15.2-static-ubuntu-16.04](https://github.com/BeamMW/qt5.15.2-static-ubuntu-16.04).
https://github.com/lxqt/libqtxdg/blob/82da1928fc2e28229e814c6580130c3ad22ce800/src/xdgiconloader/xdgiconloader

[2022-03-31 11:24] tsujan commented on #277
Not reproducible.

Make sure that you have a clean build dir and also the latest git `lxqt-build-tools`.

[2022-03-31 11:47] palinek commented on #277
The crucial thing here is static qt & libqtxdg libraries. Yes, we're duplicating some symbols which are not exported by Qt and we need them...

[2022-03-31 12:22] tsujan commented on #277
@msojocs

@palinek saw the *static* Qt and reopened the report — I hadn't paid attention to "static".

[2022-05-28 15:25] stefonarch commented on #264
News about that?

[2022-05-28 15:54] tsujan commented on #264
@luis-pereira made the merge request 5 months ago: https://gitlab.freedesktop.org/xdg/xdg-utils/-/merge_requests/48. But apparently there's a problem ("Merge blocked: the source branch must be rebased onto the target branch.")

[2022-05-28 17:38] luis-pereira commented on #264
@tsujan @stefonarch I will rebase after the weekend. There weren't any merge conflicts when I made the merge request.

[2022-05-28 17:56] tsujan commented on #264
I know; saw it only today.

[2022-05-30 21:41] luis-pereira commented on #264
Rebased.

[2022-06-01 10:00] yan12125 commented on #264
Upstream xdg-utils seems no so active. I'm afraid the patch will not be merged soon. I uploaded https://aur.archlinux.org/packages/xdg-utils-lxqt, so users on Arch-like systems can use the patched version easily.

[2022-06-01 12:23] tsujan commented on #264
Can't we explicitly request a review there?

[2022-07-06 05:33] Dami-star commented on #260
I reproduced this problem when I was using deepin V20. When I installed a wine application, I failed to get the icon from the system theme using QIcon::fromTheme. I tried to upgrade libqtxdg to 3.9.1 (including #261), The problem can still be reproduced

* Qt Version: Qt 5.15.3
* cmake Version:  3.19
* Package version: 3.3.1 and 3.9.1

[2022-07-21 13:01] tsujan commented on #226
The problem may not be in the cache but in how Qt updates icons.

I did a simple test with `QToolButton` inside a window. The button had a nonexistent main icon plus an existing fallback one:
[code]
It also showed a debug message about the state of the main icon when clicked:
[code]
When the button was shown, its icon was "user-home", as expected.

Then I added the main icon to the theme and updat

[2022-07-22 05:41] Dami-star commented on #226
I will also try the fallback icon problem you mentioned on the weekend,
BTW, I submitted a fix to Qt but it doesn't work for the current issue
https://codereview.qt-project.org/c/qt/qtbase/+/419489

[2022-07-22 12:46] tsujan commented on #226
I mentioned it only as a possibility; otherwise, I'm not sure whether it plays a role here.

Until now, I've tried several workarounds to no avail — watching the icon set directory, instead of the cache, was the most promising, but it didn't make a difference.

[2022-07-22 18:50] tsujan commented on #226
@Dami-star
A compromise is here: https://github.com/lxqt/libqtxdg/pull/283

It worked with several apps that I installed (and uninstalled), from light to heavy.

You said that you had a good environment for testing. Could you please test it?

[2022-07-23 01:49] tsujan commented on #226
@Dami-star
Sorry, please check https://github.com/lxqt/libqtxdg/pull/284 instead. It doesn't make a compromise.

[2022-07-25 01:30] Dami-star commented on #226
👍️👍️👍️👍️👍️
Ok, I will test and verify #284 as soon as possible and give you feedback

[2022-08-01 07:17] #226 closed

[2022-11-27 20:10] tsujan opened #287 "Can't handle symlink desktop entries"
Just use this to see it for yourself:
[code]
`/usr/share/applications/libreoffice-calc.desktop` is a symlink to `/usr/lib/libreoffice/share/xdg/calc.desktop`.

##### Possible Solution

The problem is that `XdgDesktopFile::id()` returns `false` in `XdgMimeApps::setDefaultApp()`, because `XdgDesktopFile::load()` returns a canonical path (by using `QFileInfo::canonicalFilePath()`.

Even if we make `X